/Debug/Bounds.obj
/Debug/Camera.obj
/Debug/FrameBuffer.obj
/Debug/Game.obj
/Debug/GameObject.obj
/Debug/Geometry.obj
/Debug/Lamp.obj
/Debug/LoggingService.obj
/Debug/Mouse.obj
/Debug/Physical.obj
/Debug/PhysicsComponent.obj
/Debug/PlayerStateMachineTest.obj
/Debug/PostProcessingPipeline.obj
/Debug/Program.obj
/Debug/ScratchGraphics1.Build.CppClean.log
/Debug/ScratchGraphics1.exe
/Debug/ScratchGraphics1.ilk
/Debug/ScratchGraphics1.log
/Debug/ScratchGraphics1.pdb
/Debug/ScratchGraphics1.tlog/CL.command.1.tlog
/Debug/ScratchGraphics1.tlog/CL.read.1.tlog
/Debug/ScratchGraphics1.tlog/CL.write.1.tlog
/Debug/ScratchGraphics1.tlog/ScratchGraphics1.lastbuildstate
/Debug/ScratchGraphics1.tlog/link.command.1.tlog
/Debug/ScratchGraphics1.tlog/link.read.1.tlog
/Debug/ScratchGraphics1.tlog/link.write.1.tlog
/Debug/ScriptParser.obj
/Debug/ServiceLocator.obj
/Debug/Shader.obj
/Debug/Window.obj
/Debug/main.obj
/Debug/mat4.obj
/Debug/mat4.obj.enc
/Debug/vc140.idb
/Debug/vc140.pdb
/.vs/ScratchGraphics1/v14
